:root {
  --font-family-base: 'Vazirmatn Variable', sans-serif;
  --fw-body: 400;
  --fw-label: 500;
  --fw-heading: 700;
  --fw-hero: 900;
}

html {
  font-family: var(--font-family-base);
}

body {
  font-family: var(--font-family-base);
  font-weight: var(--fw-body);
  color: #2B2521;
  background-color: #F2E9DE;
}

.text-label {
  font-weight: var(--fw-label);
}

.text-heading {
  font-weight: var(--fw-heading);
}

.text-hero {
  font-weight: var(--fw-hero);
}
